.footer {
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    width: 100%;
    background: url('../../images/stars.svg'), #1B1B25;
    color:white;
    text-align: center;
}

.footer-links {
    font-size: 13px;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-item{
    color: white;
}

.footer-item:hover{
    color:#7DCD40;
    text-decoration: none;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color:white;
}
