.NavContainer {
  color: rgb(238, 218, 218);
  background: linear-gradient(to right, #cc00ff, #ff0066, #00ff00);
  height: 80%;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0;
  text-align: center;
  display: inline-block;

}

.NavLogoContainer{
  height: 100%;
  width: 324px;
  background-repeat: no-repeat;
  background-size: auto;
  /* background-position: left; */
  display: inline-block;
}


.NavLogo{
  height: 110px;
  background-image: url('../../images/movixTransp.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}


.NavSloganContainer{
  padding:0;
  margin: 0;
  height: 100%; 
  width: 412px;

}

h3{
 margin: 0%;
}
