.footer {
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    width: 100%;
    background: url('../../images/stars.svg'), #1B1B25;
    color:   #7DCD40;
    text-align: center;
}

.footer-top{
    color: #7DCD40;
}

.footer-links {
    font-size: 13px;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    color: #7DCD40
}

a.link{
    color: #7DCD40}

/* visited link */
a:visited {
    color: #7DCD40;
  }
  
  /* mouse over link */
  a:hover {
    color: #7DCD40;
  }
  

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: #7DCD40;

}
