.BadgeNew__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    height: 100%;
    color: #ffffff;
  }

  .BadgeNew__forms__container{
    background-color: rgba(198, 81, 233, 0.5);
    color:white;
    border-radius: 8px 8px 8px 8px;
  }
 
  .BadgeNew__Forms{
    padding: 22px;
    width: 80%;
    padding-left: 20%;
  }