.NavContainer {
  color: rgb(238, 218, 218);
  background: linear-gradient(to right, #cc00ff, #ff0066, #00ff00);
  height: auto;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0;

}

.NavLogoContainer{
  height: 110px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}


.NavLogo{
  height: 110px;
  background-image: url('../../images/movixTransp.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}


.NavSlogan{
  padding:0;
  margin: 0;
  height: 50px;
  text-align: center;
 
}
h3{
 margin: 0%;
}
