.Login__hero {
    width: 100%;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    height: 100%;
    padding: 32px;
  }

  .Login__forms__container{
    background-color: rgba(198, 81, 233, 0.5);
    color:white;
    border-radius: 8px 8px 8px 8px;
    text-align: center;

  }
 
  .Login__Forms{
    padding: 22px;
    width: 80%;
    padding-left: 20%;
  }