.appBar{

    background-color: black;
    display: block;
    color: white;
}

.searchBar{
    display: block;
    font-size: larger;
    width: 100%;
    padding-bottom: 8;
    padding-top: 8;
    padding-left: 16;
}

img{
    height: 200px;
    width: 100px;
}
body {
    background: #f1f1f1;
  }
  
.likeButton {
    background-color:  rgba(198, 81, 233, 1);
    border-color:  rgba(198, 81, 233, 0.5);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #f1f1f1;

}

.notLikeButton{
    background-color: grey;
    border-color: darkgray;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.likeButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.notLikeButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.customContainer {
    border: 1px solid black;
  }

  .nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    padding: 2px;
  }